.App {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  /* margin-bottom: 20px; */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); */
  position: relative;
}

img {
  height: 175px;
}

a {
  text-decoration: none;
  color: black;
}

.favoritesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  /* background-image: linear-gradient(to right, white, rgba(0, 0, 255, 0.205)); */
}

.favoriteArticle {
  /* height: 100px; */
  width: 400px;
  position: relative;
  margin: 20px;
  background-color: rgba(70, 89, 255, 0.192);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.205);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}

.favoriteImage {
  height: 100px;
}

.delete {
  width: 25px;
  height: 25px;
  font-size: 14px;
  outline: none;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.delete:hover {
  background-color: rgb(158, 0, 0);
}

.update {
  width: 150px;
  outline: none;
  border-radius: 10px;
  background-color: rgba(240, 240, 240);
  font-size: 16px;
}

.update:hover {
  background-color: rgba(230, 230, 230);
}

.sourceHeader {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to right, white, rgba(0, 0, 255, 0.205));
  margin: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.sourceContainer {
  height: 100px;
  position: absolute;
  margin-left: 10%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.cnnImage {
  height: 90px;
  width: 125px;
  background-image: url("./CNN-logo.png");
  background-size: cover;
}

.bbcImage {
  height: 90px;
  width: 125px;
  background-image: url("./bbc-logo.png");
  background-size: cover;
}

.espnImage {
  height: 45px;
  width: 125px;
  margin-left: 20px;
  background-image: url("./ESPN-Logo.png");
  background-size: cover;
}

.newsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: rgb(240, 240, 240);
}

.articleContainer {
  height: 325px;
  padding: 5px;
  margin: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  border: 1px solid rgba(0, 0, 0, 0.219);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: white;
}

.articleContainerButtons {
  width: 250px;
  height: 25px;
  margin: 3px;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgba(70, 89, 255, 0.192);
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.articleContainerButtons:hover {
  background-color: rgba(70, 89, 255, 0.404);
}

.articleContainer:active {
  background-color: gray;
}
